defmodule AdventOfCode.Y<%= @year %>.Day<%= @day %> do
  alias AdventOfCode.Input

  def part_1(_input \\ Input.read_input!(<%= @year %>, <%= @day %>)) do
  end

  def part_2(_input \\ Input.read_input!(<%= @year %>, <%= @day %>)) do
  end
end
