defmodule AdventOfCode.Y<%= @year %>.Day<%= @day %>Test do
  use ExUnit.Case, async: true

  import AdventOfCode.Y<%= @year %>.Day<%= @day %>

  describe "part_1" do
    test "foo" do
      result = part_1(_input)
      assert result
    end

    test "bar" do
      result = part_1(_input)
      assert result
    end
  end

  describe "part_2" do
    test "foo" do
      result = part_2(_input)
      assert result
    end

    test "bar" do
      result = part_2(_input)
      assert result
    end
  end
end
